$color-Red: hsl(1, 90%, 64%);
$color-Blue: hsl(219, 85%, 26%);
$color-BlueLight: hsl(223, 30%, 95%);
$color-BlueLight1:rgb(152, 174, 217);
$color-White: hsl(0, 0%, 100%);
$color-Verylightgrayishblue: hsl(210, 60%, 98%);
$color-Lightgrayishblue1: hsl(211, 68%, 94%);
$color-Lightgrayishblue2: hsl(205, 33%, 90%);
$color-Grayishblue: hsl(219, 14%, 63%);
$color-Darkgrayishblue: hsl(219, 12%, 42%);
$color-Verydarkblue: hsl(224, 21%, 14%);